<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inputPath" value="C:\TestConfigRepository\Input" />
    <add key="outputPath" value="C:\TestConfigRepository\Output" />
    <add key="xmlRepositoryAssemblyPath" value="C:\Users\IlyaOrlenko\source\repos\CsAutoAdvancedTraining\CsAutoAdvancedTraining\XmlRepository\bin\Debug\XmlRepository.dll" />
    <add key="jsonRepositoryAssemblyPath" value="C:\Users\IlyaOrlenko\source\repos\CsAutoAdvancedTraining\CsAutoAdvancedTraining\JsonRepository\bin\Debug\JsonRepository.dll" />
    <add key="xmlRepositoryClassName" value="Xml.XmlRepository" />
    <add key="jsonRepositoryClassName" value="Json.JsonRepository" />
    <add key="getConfigMethodName" value="GetConfig" />
    <add key="writeConfigMethodName" value="WriteConfig" />
  </appSettings>
</configuration>